@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #5a05f869,#dbdbdb,#dbdbdb ,#7245f07e);
}


/* =============================== */
/* =========== <HEADER =========== */
/* =============================== */

#headerContacto {
    background: #7429bb;
}



/* ================================= */
/* =========== <//HEADER =========== */
/* ================================= */







/* ============================= */
/* =========== <MENU =========== */
/* ============================= */
#marcaNav {
    background-image: linear-gradient(to right, #70127c, #158bcf);
    background-clip: text;
    color: transparent;
}

#menu li > a {
    font-size: 18px;
}


#menu li > a:hover {
    
    color: #840bf5;    

}


#menu form > button {
    font-size: 15px;
}

#menu {
    background-image: linear-gradient(to right, #2a04d136,#dbdbdb3f,#dbdbdb46 ,#3a0db633);
}

#botonSuscribirse {
    background-image: linear-gradient(to right, #70127c, #079ff7);
    color: #e2dede;
    border: none;
}

#botonSuscribirse:hover {
    background-image: linear-gradient(to right, #70127c, #15567c);

}

/* =============================== */
/* =========== <//MENU =========== */
/* =============================== */




/* ==================================== */
/* =========== <FORMULARIO> =========== */
/* ==================================== */
    #seccionFormulario {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    #formContacto {
        background-color: #2c154b;
        width: 80%; /* Ajusta el ancho del formulario al 80% del contenedor */
        max-width: 60%; /* Establece un ancho máximo para el formulario */
    }

    #formContacto > p {
        font-size: 14px;
    }

/* ====================================== */
/* =========== <//FORMULARIO> =========== */
/* ====================================== */






/* =============================== */
/* =========== <FOOTER =========== */
/* =============================== */

footer {
    background:#1a0730;
    color: #9e9a9a;
    line-height: 15px;

}





/* ================================= */
/* =========== <//FOOTER =========== */
/* ================================= */