@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, #5a05f869,#dbdbdb,#dbdbdb ,#7245f07e);
}

/* =============================== */
/* =========== <HEADER =========== */
/* =============================== */

#headerContacto {
    background: #7429bb;
    overflow-x: hidden;
}

/* ================================= */
/* =========== <//HEADER =========== */
/* ================================= */


/* ============================= */
/* =========== <MENU =========== */
/* ============================= */
#marcaNav {
    background-image: linear-gradient(to right, #70127c, #158bcf);
    background-clip: text;
    color: transparent;
}

#menu li > a {
    font-size: 18px;
}


#menu li > a:hover {
    
    color: #840bf5;    

}


#menu form > button {
    font-size: 15px;
}

#menu {
    z-index: 1;
    background-image: linear-gradient(to right, #2a04d136,#dbdbdb3f,#dbdbdb46 ,#3a0db633);
}

#botonSuscribirse {
    background-image: linear-gradient(to right, #70127c, #079ff7);
    color: #e2dede;
    border: none;
}

#botonSuscribirse:hover {
    background-image: linear-gradient(to right, #70127c, #15567c);

}

#linkInicio {
    color: #840bf5;  
}
/* =============================== */
/* =========== <//MENU =========== */
/* =============================== */



/* ============================== */
/* =========== <FONDO =========== */
/* ============================== */

#fondo {
    background-image: url('../images/fondo-inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 39em;
    overflow-x: hidden;
}

#fondo > div > p {
    color: #e2dfdf;
    overflow-x: hidden;
}

h1 {
    font-size: 4em;
    color: white;
}
/* ================================ */
/* =========== <//FONDO =========== */
/* ================================ */


/* ========================================== */
/* =========== <SLIDER-CARRUSEL 1 =========== */
/* ========================================== */

.carousel-inner {
    max-height: 50rem;
}
/* ============================================ */
/* =========== <//SLIDER-CARRUSEL 1 =========== */
/* ============================================ */


/* ================================== */
/* =========== <SECCION 1 =========== */
/* ================================== */

#seccion1 {
    padding: 3em 5em 5em 5em;
    background-image: linear-gradient(to right, #955dfcb2, #dbdbdb, #dbdbdb, #955dfcb2);
    overflow-x: hidden;
}

#divCartitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#divCartitas > div {
    background-image: linear-gradient(to right, #512ca7, #551c51);
    border-radius: 3em 0  0; 
    width: 300px; 
    padding: 20px; 

    margin: 10px; 
}

.spanPersonalizado {
    color: #a929b9;
}

.cartitaTitulo {
    margin-bottom: 0.5em;
}

.card-text {
    font-size: 1em;
    
}

.degradadoTexto {
    background: linear-gradient(to right, #a323a3, #b96524);
    background-clip: text;
    color: transparent;
}
/* ==================================== */
/* =========== <//SECCION 1 =========== */
/* ==================================== */


/* =============================== */
/* =========== <DIVISION =========== */
/* =============================== */

#division {
    background-color:#502177;
    color: #ffffff;
}

#linkProductos {
    transition: all 0.1s;
    color: #f5d02a;
}

#linkProductos:hover {
    color: #dd79eb;
}


/* =================================== */
/* =========== <//DIVISION =========== */
/* =================================== */


/* =================================== */
/* =========== <SECCION 2> =========== */
/* =================================== */


#seccion2 {
    overflow-x: hidden;
    background-image: linear-gradient(to right, #955dfcb2, #dbdbdb, #dbdbdb, #955dfcb2);
}

#divContainerCards2 > div  {
    background: linear-gradient(to right, #7004ecbe, #af7927);
    margin: 1em;
    border-radius: 10px;
}

#contactoTexto {
    max-width: 600px;
}
/* ===================================== */
/* =========== <//SECCION 2> =========== */
/* ===================================== */


/* =============================== */
/* =========== <FOOTER =========== */
/* =============================== */

footer {
    background:#1a0730;
    color: #9e9a9a;
    line-height: 15px;

}

/* ================================= */
/* =========== <//FOOTER =========== */
/* ================================= */
