@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #7003ff41, #133c9646);
}


/* =============================== */
/* =========== <HEADER =========== */
/* =============================== */

#headerContacto {
    background: #7429bb;
}



/* ================================= */
/* =========== <//HEADER =========== */
/* ================================= */







/* ============================= */
/* =========== <MENU =========== */
/* ============================= */
#marcaNav {
    background-image: linear-gradient(to right, #70127c, #158bcf); 
    background-clip: text;
    color: transparent;
    color: #5c1ca5;
}

#menu li > a {
    font-size: 18px;
    color: #3f3f3f;
}


#menu li > a:hover {
    
    color: #840bf5;    

}


#menu form > button {
    font-size: 15px;
}

#menu {

    z-index: 1;
    background-image: linear-gradient(to right, #2a04d136,#dbdbdb3f,#dbdbdb46 ,#3a0db633);
}

#botonSuscribirse {
    background-image: linear-gradient(to right, #70127c, #079ff7);
    color: #e2dede;
    border: none;
}

#botonSuscribirse:hover {
    background-image: linear-gradient(to right, #70127c, #15567c);

}

/* =============================== */
/* =========== <//MENU =========== */
/* =============================== */






/* ================================= */
/* =========== <CARRITO> =========== */
/* ================================= */




#carritoDeProductos {
    gap: 8%;
    background-image: linear-gradient(to right, #431449, #0d2838);
}

#carritoDeProductos > div {
    background-image: linear-gradient(to right, #560e5f, #0d4668);
    width: 18.5rem;
    border-radius: 10px;
    transition: background 0.1s;
}

#carritoDeProductos > div:hover {
    background-image: linear-gradient(to right, #560e5f, #091d29);
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}


/* =================================== */
/* =========== <//CARRITO> =========== */
/* =================================== */








/* =============================== */
/* =========== <FOOTER =========== */
/* =============================== */

footer {
    background:#1a0730;
}

#twitter, #instagram {
    color: white;
}




/* ================================= */
/* =========== <//FOOTER =========== */
/* ================================= */