@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #7003ff41, #133c9646);
}


/* =============================== */
/* =========== <HEADER =========== */
/* =============================== */

#headerContacto {
    background: #7429bb;
}



/* ================================= */
/* =========== <//HEADER =========== */
/* ================================= */







/* ============================= */
/* =========== <MENU =========== */
/* ============================= */
#marcaNav {
    background-image: linear-gradient(to right, #70127c, #158bcf);
    background-clip: text;
    color: transparent;
}

#menu li > a {
    font-size: 18px;
}


#menu li > a:hover {
    
    color: #840bf5;    

}


#menu form > button {
    font-size: 15px;
}

#menu {

    z-index: 1;
    background-image: linear-gradient(to right, #2a04d136,#dbdbdb3f,#dbdbdb46 ,#3a0db633);
}

#botonSuscribirse {
    background-image: linear-gradient(to right, #70127c, #079ff7);
    color: #e2dede;
    border: none;
}

#botonSuscribirse:hover {
    background-image: linear-gradient(to right, #70127c, #15567c);

}

/* =============================== */
/* =========== <//MENU =========== */
/* =============================== */






.container {
    height: 100vh;
}



/* Estilos para las imágenes de productos */
.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Otros estilos */
.card {
    width: 18rem;
    margin-bottom: 20px;
}


/* Estilos para el contenedor del carrito */
#cart {
    background-image: linear-gradient(to right, #70127c, #15567c);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;

}


/* Estilos para el título del carrito */
#cart h2 {
    margin-bottom: 20px;
}

/* Estilos para la tabla del carrito */
#cart table {
    width: 100%;
}

/* Estilos para los botones del carrito */
#cart .btn {
    font-size: 1rem;
    padding: 10px 20px;
}

/* Estilos para el precio total del carrito */


/* Estilos para los botones del carrito */
#cart button {
    margin-top: 20px;
}





/*  */

#checkoutBtn {
    background-color: #691b7c;
    border: none;
    color: white;
}



#clearCartBtn {
    background-color: #691b7c;
    border: none;
    color: white;
}


#clearCartBtn {
    background-color: #a01919;
}

/* =============================== */
/* =========== <FOOTER =========== */
/* =============================== */

footer {
    background:#1a0730;
    color: #9e9a9a;
    line-height: 15px;

}

/* ================================= */
/* =========== <//FOOTER =========== */
/* ================================= */